services:
  - type: web
    name: post-master-backend
    env: node
    plan: free
    region: singapore
    branch: main

    buildCommand: npm install
    startCommand: npm start

    envVars:
      - key: NODE_ENV
        value: production

      - key: PORT
        value: 10000

      - key: DATABASE_URL
        sync: false

      - key: REDIS_URL
        sync: false

      - key: JWT_SECRET
        sync: false

      - key: CLOUDINARY_CLOUD_NAME
        sync: false

      - key: CLOUDINARY_API_KEY
        sync: false

      - key: CLOUDINARY_API_SECRET
        sync: false

      - key: EMAIL_USER
        sync: false

      - key: EMAIL_PASS
        sync: false
